@page "/"

    <h1>Hello, world! - Welcome to Blazor WebAssembly Web App.</h1>

<p>This demo is for purpose only just to show - "How to deploy Blazor WebAssembly Web App to Azure Static Web Apps service?"</p>

<p>"What is Azure Static Web Apps? " - Azure Static Web Apps is a service provided my Microsoft that automatically builds and deploys full stack web apps to Azure from a GitHub repository.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
